<!DOCTYPE html>
<html>
  <head>
    <title>Nhan Su</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Nhan Su</h1>
    <span><%= JSON.stringify(data) %></span>
  </body>
</html>
